<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>AI PRO Smart Home</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="dashboard">
  <header>
    <div class="f fe">
      <div class="heading">
        <h5 class="date">30 July 2021</h5>
        <h2 class="title">AI PRO Smart Home</h2>
      </div>
    </div>
    
    <div class="weather f">
      <div>
        <strong>26°<sup>C</sup></strong>
        <p>Indoor Temp.</p>
      </div>
      <div>
        <strong>48.2%</strong>
        <p>Outdoor Humidity</p>
      </div>
      <div>
        <strong>52.99</strong>
        <p>Indoor Temp.</p>
      </div>
    </div>
  </header>
  <section>
  <!-- Category -->
    <div class="category">
      <ul>
        <li><a href="#!" class="active">Living Room</a></li>
        <li><a href="#!">Kitchen</a></li>
        <li><a href="#!">Dinning</a></li>
        <li><a href="#!">Bedroom</a></li>
      </ul>
    </div>
  <!-- Appliances -->
    <div class="appliances">
      
      <div class="appliance">
        <input type="checkbox" name="a" id="a">
        <label for="a">
          <i class="l"></i>
          <strong>light 1</strong>
          <span data-o="On" data-c="Off"></span>
          <small></small>
        </label>
      </div>
      
      <div class="appliance">
        <input type="checkbox" name="a" id="b">
        <label for="b">
          <i class="r"></i>
          <strong>light 2</strong>
          <span data-o="opened" data-c="closed"></span>
          <small></small>
        </label>
      </div>
      
      <div class="appliance">
        <input type="checkbox" name="a" id="c">
        <label for="c">
          <i class="a"></i>
          <strong>light 3</strong>
          <span data-o="On" data-c="Off"></span>
          <small></small>
        </label>

      </div>
      
      <div class="appliance">
        <input type="checkbox" name="a" id="d">
        <label for="d">
          <i class="f"></i>
          <strong>light 4</strong>
          <span data-o="On" data-c="Off"></span>
          <small></small>
        </label>
      </div>
      
    </div>
  </section>
</div>
<!-- partial -->
  
</body>
</html>
